.tool-bar{
    background: transparent;
    border-top: -0.2%;
}
.header{
    border-bottom: 3%;
    height: 80vh;
}
.nav-img{
    width: 150px;
    height: auto;
    padding: 0 14px;
}
.top-img{
    width: 100%;
    height: auto;
    margin-top: -0.2%;
}
.menu-spacer {
    flex: 1;
}
