<div class="card">
    <div class="card-header">
        <h4 class="text-center">Registro de nutriologo</h4>
    </div>
    <div class="card-body" style="padding: 1em;">
        <form [formGroup]="form">
            <div class="grid-container">
                <div style="text-align: left;color: grey;">
                    <h6>Informacion de inicio de sesion</h6>
                </div>
                <div class="row" style="margin-bottom: 1em;">
                    <div class="col">
                        <label>Imagen representativa</label>
                        <div class="custom-file" *ngIf="!imageUrl;else image">
                            <input type="file" id="image" class="custom-file-input" formControlName="image"
                                accept="image/*" placeholder="Imagen representativa" (change)="onFileChange($event)"
                                [ngClass]="(form.controls.image.invalid == true)?'is-invalid':''" />
                            <label for="image" class="custom-file-label">Seleccionar imagen</label>

                            <div class="invalid-feedback">
                                Por favor, seleccione una archivo valido
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Usuario</label>
                            <input trim type="text" class="form-control"
                                [ngClass]="(form.controls.user_name.invalid)?'is-invalid':''"
                                formControlName="user_name" placeholder="Usuario" />
                            <div class="invalid-feedback">
                                El
                                nombre de usuario
                                es
                                una campo <strong>requerido</strong>
                            </div>
                            <div class="errors" *ngIf="responseError">
                                <span *ngIf="responseError.user_name">{{responseError.user_name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control"
                                [ngClass]="(form.controls.password.invalid)?'is-invalid':''" formControlName="password"
                                placeholder="Contraseña" />
                            <div class="invalid-feedback">
                                Debe
                                introducir una Contraseña valida
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: left;color: grey;">
                    <h6>Informacion personal</h6>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Nombre(s)</label>
                            <input type="text" class="form-control"
                                [ngClass]="(form.controls.first_name.invalid)?'is-invalid':''"
                                formControlName="first_name" placeholder="Nombre(s)">
                            <div class="invalid-feedback">
                                El
                                nombre es una campo <strong>requerido</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Apellido</label>
                            <input type="text" class="form-control"
                                [ngClass]="(form.controls.last_name.invalid)?'is-invalid':''"
                                formControlName="last_name" placeholder="Apellido">
                            <div class="invalid-feedback">
                                El
                                apellido es una campo <strong>requerido</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Fecha de nacimiento</label>
                            <input formControlName="birth_date" type="date" class="form-control"
                                [ngClass]="(form.controls.birth_date.invalid)?'is-invalid':''"
                                placeholder="Fecha de nacimiento" placement="top" />
                            <div class="invalid-feedback">
                                <div *ngIf="form.controls.birth_date.errors">
                                    <p *ngIf="form.controls.birth_date.errors.required">
                                        La fecha de nacimiento es campo requerido
                                    </p>
                                    <p *ngIf="form.controls.birth_date.errors.age">
                                        Debe ser mayor de edad para registrarse
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Genero</label>
                            <select formControlName="gender" class="custom-select"
                                [ngClass]="(form.controls.gender.invalid)?'is-invalid':''">
                                <option *ngFor="let g of genders" [value]="g">{{g}}</option>
                            </select>
                            <div class="invalid-feedback">
                                Debe
                                seleccionar un genero
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: left;color: grey;">
                    <h6>Informacion de contacto</h6>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Numero celular</label>
                            <input class="form-control" type="tel"
                                [ngClass]="(form.controls.phone.invalid)?'is-invalid':''" formControlName="phone"
                                placeholder="123-123-1234" />
                            <div class="invalid-feedback">
                                El numero
                                celular es
                                una campo <strong>requerido</strong>
                            </div>
                            <div class="errors" *ngIf="responseError">
                                <span *ngIf="responseError.phone">{{responseError.phone}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Correo electronico</label>
                            <input class="form-control" type="email"
                                [ngClass]="(form.controls.email.invalid)?'is-invalid':''" formControlName="email"
                                placeholder="Correo electronico">
                            <div class="invalid-feedback">
                                El numero
                                celular es
                                una campo <strong>requerido</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Pais</label>
                            <select class="custom-select" [ngClass]="(form.controls.countrie.invalid)?'is-invalid':''"
                                formControlName="countrie" #st (change)="filterStates(st.value)">
                                <option *ngFor="let c of countries" [value]="c">{{c}}</option>
                            </select>
                            <div class="invalid-feedback">
                                Debe
                                seleccionar un pais
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="custom-select" [ngClass]="(form.controls.state.invalid)?'is-invalid':''"
                                formControlName="state" #ct (change)="filterCitie(ct.value)">
                                <option *ngFor="let s of states" [value]="s">{{s}}</option>
                            </select>
                            <div class="invalid-feedback">
                                Debe seleccionar
                                un estado
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Ciudad</label>
                            <select class="custom-select" [ngClass]="(form.controls.citie.invalid)?'is-invalid':''"
                                formControlName="citie">
                                <option *ngFor="let ct of cities" [value]="ct">{{ct}}</option>
                            </select>
                            <div class="invalid-feedback">
                                Debe de
                                seleccionar una ciudad
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 1em;">
                    <label>Direccion</label>
                    <input type="text" class="form-control"
                        [ngClass]="(form.controls.direction.invalid)?'is-invalid':''" formControlName="direction"
                        placeholder="Direccion" />
                    <div class="invalid-feedback">
                        La direccion
                        es
                        una campo <strong>requerido</strong>
                    </div>
                </div>
                <button (click)="loading = true;submit()" [disabled]="form.valid == false"
                    class="btn btn-outline-secondary btn-block">
                    <div class="spinner-border" *ngIf="loading == true" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Guardar Informacion
                </button>
            </div>
        </form>
    </div>
</div>
<ng-template #image>
    <img [src]="imageUrl" alt="..." class="img-thumbnail">
</ng-template>