<div class="card">
    <div class="card-divider">
        <h4 class="text-center">Registro de nutriologo</h4>
    </div>
    <div class="card-section" style="padding: 1rem;">
        <form [formGroup]="form">
            <div class="grid-container">
                <div style="text-align: left;color: grey;">
                    <h6>Informacion personal</h6>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="medium-3 cell">
                        <label>Nombre(s)
                            <input type="text" formControlName="first_name" placeholder="Nombre(s)">
                            <label class="form-error is-visible"
                                *ngIf="form.controls.first_name.invalid  && form.controls.first_name.touched">El
                                nombre es una campo <strong>requerido</strong></label>

                        </label>
                    </div>
                    <div class="medium-3 cell">
                        <label>Apellido
                            <input type="text" formControlName="last_name" placeholder="Apellido">
                            <label class="form-error is-visible"
                                *ngIf="form.controls.last_name.invalid  && form.controls.last_name.touched">El
                                apellido es una campo <strong>requerido</strong></label>
                        </label>
                    </div>
                    <div class="medium-3 cell">
                        <label>Fecha de nacimiento
                            <input type="date" placeholder="Fecha de nacimiento" placement="top"
                                formControlName="birth_date">
                            <label class="form-error is-visible"
                                *ngIf="form.controls.birth_date.invalid  && form.controls.birth_date.touched">La
                                fecha de nacimiento es una campo <strong>requerido</strong></label>
                        </label>
                    </div>
                    <div class="medium-3 cell">
                        <label>Genero
                            <select formControlName="gender">
                                <option *ngFor="let g of genders" [value]="g">{{g}}</option>
                            </select>
                            <label class="form-error is-visible"
                                *ngIf="form.controls.gender.invalid  && form.controls.gender.touched">Debe
                                seleccionar un genero</label>

                        </label>
                    </div>
                </div>
                <div style="text-align: left;color: grey;">
                    <h6>Informacion de contacto</h6>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell">
                        <label>Numero celular
                            <input type="tel" formControlName="phone" placeholder="123-123-1234" />
                            <label class="form-error is-visible"
                                *ngIf="form.controls.phone.invalid  && form.controls.phone.touched">El numero
                                celular es
                                una campo <strong>requerido</strong></label>

                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label>Correo electronico(opcional)
                            <input type="email" formControlName="email" placeholder="Correo electronico">
                        </label>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="medium-4 cell">
                        <label>Pais
                            <select formControlName="countrie">
                                <option *ngFor="let c of countries" [value]="c">{{c}}</option>
                            </select>
                            <label class="form-error is-visible"
                                *ngIf="form.controls.countrie.invalid  && form.controls.countrie.touched">Debe
                                seleccionar un pais</label>

                        </label>
                    </div>
                    <div class="medium-4 cell">
                        <label>Estado
                            <select formControlName="state">
                                <option *ngFor="let s of states" [value]="s">{{s}}</option>
                            </select>
                            <label class="form-error is-visible"
                                *ngIf="form.controls.state.invalid  && form.controls.state.touched">Debe seleccionar
                                una estado</label>

                        </label>
                    </div>
                    <div class="medium-4 cell">
                        <label>Ciudad
                            <select formControlName="citie">
                                <option *ngFor="let ct of cities" [value]="ct">{{ct}}</option>
                            </select>
                            <label class="form-error is-visible"
                                *ngIf="form.controls.citie.invalid  && form.controls.citie.touched">Debe de
                                seleccionar una ciudad</label>
                        </label>
                    </div>
                </div>
                <div>
                    <label>Direccion
                        <input type="text" formControlName="direction" placeholder="Direccion" />
                        <label class="form-error is-visible"
                            *ngIf="form.controls.direction.invalid  && form.controls.direction.touched">La direccion
                            es
                            una campo <strong>requerido</strong></label>
                    </label>
                </div>
                <div style="text-align: left;color: grey;">
                    <h6>Informacion de inicio de sesion</h6>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell">
                        <label>Usuario
                            <input type="text" formControlName="user_name" placeholder="Usuario" />
                            <label class="form-error is-visible"
                                *ngIf="form.controls.user_name.invalid  && form.controls.user_name.touched">El
                                nombre de usuario
                                es
                                una campo <strong>requerido</strong></label>
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label>Contraseña
                            <input type="password" formControlName="password" placeholder="Contraseña" />
                            <label class="form-error is-visible"
                                *ngIf="form.controls.password.invalid  && form.controls.password.touched">Debe
                                introducir una Contraseña valida</label>
                        </label>
                    </div>
                </div>
                <div style="text-align: left;color: grey;">
                    <h6>Informacion profesional</h6>
                </div>
                <label>Cedula profesional
                    <input type="text" formControlName="card_id" placeholder="Cedula profesional" />
                    <label class="form-error is-visible"
                        *ngIf="form.controls.card_id.invalid  && form.controls.card_id.touched">Cedula profesionarl
                        es
                        una campo <strong>requerido</strong></label>
                </label>
                <label for="image" class="button">Seleccionar imagen representativa</label>
                <input type="file" id="image" formControlName="image" accept="image/*"
                    placeholder="Imagen representativa" (change)="onFileChange($event)" class="show-for-sr" />
                <label class="form-error is-visible"
                    *ngIf="form.controls.image.errors.extension == true && form.controls.image.touched">
                    Por favor, seleccione una archivo valido
                </label>
                <label class="form-error is-visible"
                    *ngIf="form.controls.image.errors.required == true && form.controls.image.touched">La
                    imagen representativa
                    es
                    una campo <strong>requerido</strong></label>
                <button (click)="submit()" class="button small expanded">Guardar Informacion</button>
            </div>
        </form>
    </div>
</div>