<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <app-profile-card></app-profile-card>
        </div>
        <div class="col mb-4">
            <app-pacients-card></app-pacients-card>
        </div>
        <div class="col mb-4">
            <app-consultations-card></app-consultations-card>
        </div>
        <div class="col mb-4">
            <app-menu-card></app-menu-card>
        </div>
        <div class="col mb-4">
            <app-foods-card></app-foods-card>
        </div>
        <div class="col mb-4">
            <app-diary-card></app-diary-card>
        </div>
    </div>
</div>