.card{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.card-divider{
    background-color: #1779ba;
    color: white;
}
.text-center{
    margin-left: auto;
    margin-right: auto;
}
.container{
    padding: 2rem;
}