<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Anterior
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Hoy
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Siguiente
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">
                Mes
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">
                Semana
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Dia
            </div>
        </div>
    </div>
</div>
<br />
<div [ngSwitch]="view" class="mb-3 mt-3" style="width: 100%;">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [locale]="locale" [viewDate]="viewDate"
        [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('update', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [locale]="locale" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('update', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [locale]="locale" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('update', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>

<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title" *ngIf="modalData.action === 'update'">Datos de una consulta</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col">
                    <p class="font-weight-normal">Atiende:
                        {{modalData?.event.nutritionist_id.first_name +' ' +modalData?.event.nutritionist_id.first_name}}
                    </p>
                </div>
                <div class="col">
                    <p class="font-weight-normal">Telefono de contacto:
                        {{modalData?.event.nutritionist_id.phone }}
                    </p>
                </div>
            </div>
            <p class="font-weight-normal">Fecha:
                {{modalData?.event.start | dateFormater}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
            OK
        </button>
    </div>
</ng-template>