<nav class="navbar navbar-expand-lg navbar-dark top-bar sticky">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" style="color: white;">Nutritionist</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="color: white;" *ngIf="!session;else loggedin">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Usuario
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/auth/login']"
                        routerLinkActive="router-link-active">Iniciar
                        sesion</a>
                    <a class="dropdown-item" [routerLink]="['/auth/register']"
                        routerLinkActive="router-link-active">Registrarse</a>
                </div>

            </li>
        </ul>
    </div>
</nav>

<ng-template #loggedin>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="color: white;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{session.user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" (click)="logout()">Cerrar sesion</a>
            </div>
        </li>
    </ul>
</ng-template>