<nav class="navbar navbar-expand-lg navbar-dark top-bar sticky mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="color: white;" *ngIf="!session;else loggedin">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Usuario
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/auth/login']" routerLinkActive="router-link-active"
                        style="color:black">Iniciar
                        sesion</a>
                    <a class="dropdown-item" style="color:black" [routerLink]="['/auth/register']"
                        routerLinkActive="router-link-active">Registrarse</a>
                </div>

            </li>
        </ul>
        <a class="navbar-brand" style="color: white;" [routerLink]="['/']"
            routerLinkActive="router-link-active">Nutritionist</a>
    </div>
</nav>

<ng-template #loggedin>
    <button class="btn btn-outline-dark" style="color: white;margin-right: 1em;" (click)="back()">
        <svg class="bi bi-arrow-left-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
                clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="color: white;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{session.user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" style="color: black;" [routerLink]="['/']"
                    [queryParams]="{username: session.user}">Inicio</a>
                <a class="dropdown-item" style="color: black;" [routerLink]="['/nutritionist/profile']"
                    [queryParams]="{username: session.user}">Mi perfil</a>
                <a class="dropdown-item" style="color: black;" [routerLink]="['/nutritionist/patients']"
                    [queryParams]="{username: session.user}">Pacientes</a>
                <a class="dropdown-item" style="color: black;" [routerLink]="['/nutritionist/diary']"
                    [queryParams]="{username: session.user}">Consultas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()" style="color: black;">Cerrar sesion</a>
            </div>
        </li>
    </ul>
</ng-template>