.top-bar {
    background-color: #649d66;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sticky {
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;
}
a:link,
a:active {
    color: white;
}
.nav-link {
    color: white;
}
