<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Inicio de sesion</h4>
        </div>
        <div class="card-body" style="padding: 1em;">
            <form [formGroup]="form">
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input class="form-control"
                        [ngClass]="(form.controls.user_name.invalid  && form.controls.user_name.touched)?'is-invalid':''"
                        type="text" formControlName="user_name" #user placeholder="Usuario" />
                    <div class="invalid-feedback">
                        El nombre de
                        usuario
                        es una campo <strong>requerido</strong>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control"  [ngClass]="(form.controls.password.invalid  && form.controls.password.touched)?'is-invalid':''"  formControlName="password" placeholder="Contraseña" />
                    <div class="invalid-feedback">
                        La contraseña
                        es una
                        campo <strong>requerido</strong>
                    </div>
                </div>               
                <div *ngIf="errorResponse" class="alert alert-danger" role="alert">
                    {{errorResponse}}
                </div>
                <button (click)="submit()" class="btn btn-outline-secondary btn-block" [disabled]="form.valid == false">Iniciar
                    sesion</button>
                <a [routerLink]="['/auth/verify']" *ngIf="user.value" [queryParams]="{user_name: user.value}"
                    queryParamsHandling="merge">Verificar usuario</a>
            </form>
        </div>

    </div>
</div>